<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="description" content="About Harikrushna Vasantbhai Adiecha">
	<meta name="keywords" content="Harikrushna, Software Engineer">
	<meta name="author" content="Harikrushna V Adiecha">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <title>Menu Nescafe</title>
</head>
<body>
  <div id="app">
    <div>
      <h1>Nescafe - Menu</h1>
      <table>
        <tbody>
          <tr v-for="(item, i) in menu" :bind="i" @click="addItem(item)">
            <template v-if="item.title">
              <td colspan="2" class="bg-green-600">
                <strong>{{item.val}}</strong>
              </td>
            </template>
            <template v-else>
              <td> {{item.val}} </td>
              <td> ₹ {{item.amt}} </td>
            </template>
          </tr>
        </tbody>
      </table>
    </div>

    <div>
      Order
      <hr>
      {{ order }}
    </div>

    <div>
      address
      <input type="text" v-model="address">
    </div>

    <pre>{{address}}</pre>

    <a :href="walink">send</a>
    <!-- <button @click="sendOrderMsg()">Send Order</button> -->
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <script type="module" src="app.js"></script>
</body>
</html>
