<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="description" content="About Harikrushna Vasantbhai Adiecha">
	<meta name="keywords" content="Harikrushna, Software Engineer">
	<meta name="author" content="Harikrushna V Adiecha">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <title>Menu Nescafe</title>
  <style>
    [v-cloak] { display: none; }
  </style>
  <link rel="stylesheet" href="./css/style.css" />
</head>
<body>
  <div id="app" class="w-full max-w-md mx-auto px-2">

    <div v-show="page === 'menu'">
      <div class="sticky top-0 py-2 bg-white border-b-2 border-green-600 z-50">
        <button
          v-if="totalItems"
          v-cloak
          class="flex border-2 border-green-500 p-0.5 px-3 hover:bg-green-100 outline-none rounded items-center justify-center float-right mt-2"
          @click="page = 'order'">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <circle cx="6" cy="19" r="2" />
            <circle cx="17" cy="19" r="2" />
            <path d="M17 17h-11v-14h-2" />
            <path d="M6 5l14 1l-1 7h-13" />
          </svg>&nbsp;
          <span class="font-semibold">
            {{ totalItems }}
          </span>
        </button>
        <h1 class="text-2xl my-3">Menu</h1>
        <span :class="['toast', { active: isItemAddedToCart }]">
          Added to cart
        </span>
        <input v-model="search" type="text" class="bg-gray-200 p-2 w-full" placeholder="Search...">
      </div>
      <div v-if="!menu.length">
        <span
        class="animate-spin float-left my-10 border-t-4 border-blue-600 rounded-full w-8 h-8"
        >
        &nbsp;
        </span>
        <span class="animate-pulse float-left ml-5 mt-11">
          Loading ...
        </span>
      </div>
      <table class="w-full max-w-md rounded border-2 border-green-600">
        <tbody>
          <tr v-for="(item, i) in filtered_menu" :bind="i" @click="addItem(item)">
            <template v-if="item.title">
              <td colspan="2" class="bg-green-600 text-gray-200 px-3 py-2">
                <strong>{{item.val}}</strong>
              </td>
            </template>
            <template v-else>
              <td :class="['bg-gray-200 cursor-pointer p-2',{'bg-gray-300 text-green-700 font-bold':itemCount[item.val]}]">
                {{item.val}}
                <span v-if="itemCount[item.val]" class="absolute ml-2 mt-1 text-xs text-green-700 bg-gray-100 w-4 pl-1 rounded-full">
                  {{ itemCount[item.val] }}
                </span>
              </td>
              <td :class="['bg-gray-200 cursor-pointer text-right p-2',{'bg-gray-300 text-green-700 font-bold':itemCount[item.val]}]">
                ₹ {{item.amt}}
              </td>
            </template>
          </tr>
        </tbody>
      </table>
      <button v-cloak @click="order.length ? page = 'order': alert('Please add item, to move forward.')" class="w-full bg-green-600 hover:bg-green-700 font-medium text-white rounded-md p-2 mt-2"> Next </button>
    </div>

    <div v-cloak v-show="page === 'order'">
      <button @click="removeAll" class="float-right my-1 border border-red-600 px-2 py-1 rounded-md text-red-600">Remove All</button>
      <h1 class="text-2xl my-3">Order</h1>
      <table class="w-full border-2 border-green-600 max-w-md">
        <thead>
          <tr>
            <th class="bg-green-600 text-gray-200 px-3 py-2 text-left">Item</th>
            <th class="bg-green-600 text-gray-200 px-3 py-2 text-center">Qty</th>
            <th class="bg-green-600 text-gray-200 px-3 py-2 text-right">Payable</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(oi,i) in order">
            <td class="bg-gray-200 p-2 text-left"> {{ oi.val }} (₹{{ oi.amt }}) </td>
            <td class="bg-gray-200 py-2 w-24 text-center">
              <button @click="addQty(oi,-1)" class="bg-green-600 text-gray-200 my-2 rounded-full w-6 h-6 font-bold"> - </button><span class="mx-1">{{ oi.qty }}</span><button @click="addQty(oi,1)" class="bg-green-600 text-gray-200 my-2 rounded-full w-6 h-6 font-bold"> + </button>
            </td>
            <td class="bg-gray-200 p-2 text-right"> ₹ {{ Number(oi.amt) * Number(oi.qty) }} </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <!-- bg-green-600 text-gray-200 px-3 py-2 -->
            <th colspan="2" class="text-left bg-green-600 text-gray-200 px-3 py-2">
              Total
            </th>
            <th class="bg-green-600 text-gray-200 px-3 py-2 text-right"> ₹ {{ total}} </th>
          </tr>
        </tfoot>
      </table>
      <div class="mt-2 grid gap-4 grid-cols-2">
        <button class="bg-green-600 hover:bg-green-700 font-medium text-white rounded-md p-2" @click="page = 'menu'">Back</button>
        <button class="bg-green-600 hover:bg-green-700 font-medium text-white rounded-md p-2" @click="page = 'address'">Next</button>
      </div>
    </div>

    <div v-cloak v-show="page === 'address'">
      <h1 class="text-2xl my-3">Confirm & Place Order</h1>
      <hr>
      <div v-if="sending" class="flex w-full text-center">
        <span
        class="animate-spin my-10 border-t-4 border-blue-600 rounded-full w-8 h-8"
        >
        &nbsp;
        </span>
        <span class="animate-pulse ml-5 mt-11">
          Loading ...
        </span>
      </div>
      <div v-else>
        <div class="mt-3 mb-1">
          Address
          <span class="text-gray-500 text-sm">(Building and/or Office Number)</span>
        </div>
        <input class="bg-gray-200 w-full p-2 border-2 rounded-md border-green-600" type="text" v-model="address">
        <div class="mt-3 mb-1">
          Notes
          <span class="text-gray-500 text-sm">(Optional: Additional instructions)</span>
        </div>
        <textarea class="bg-gray-200 w-full p-2 border-2 rounded-md border-green-600" v-model="notes" ></textarea>
        <div class="mt-2 grid gap-4 grid-cols-2">
          <button class="bg-green-600 hover:bg-green-700 font-medium text-white rounded-md p-2" @click="page = 'order'">Back</button>
          <button class="bg-green-600 hover:bg-green-700 font-medium text-white rounded-md p-2 text-center" @click="placeOrder">Done</a>
        </div>
      </div>
    </div>

    <div class="mt-5 mb-20 text-center">
      <span @click="credit = true" class="cursor-pointer">
        Proudly Made in 🇮🇳 by Bansari Tech
      </span>
    </div>

    <div v-if="credit" class="fixed left-0 top-0 bg-gray-200 h-screen w-screen">
      <div class="w-full max-w-md mx-auto">
        <button class="float-right mt-1 text-2xl mr-4" @click="credit=false">&times;</button>
        <h1 class="text-2xl text-center my-5 pt-1">Credits</h1>
        <div class="bg-white rounded-xl p-4 shadow-xl mx-2">
          <h2 class="text-xl">
            Prepared by 
            <a target="_blank" href="https://bansari.tech">Bansari Tech 🔗</a>
          </h2>
          <hr class="my-2">
          <ul class="list-disc ml-5">
            <li>Harikrushna V. Adiecha</li>
            <li>Yogesh K. Devaliya</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <script type="module" src="app.js"></script>
</body>
</html>
